:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest:var(--darker);
    --white: #EEE;
    --green: #3DED97;
    --red:var(--red)

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: white;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
#heading{
    text-align: center;
}
header h1{
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1 rem;
}
#task-list-form{
    display: flex;

}
input, button{
    border: none;
    outline: none;
    background: none;
}
#task-input{
    flex: 1 1 0;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    color:var(--white)
}
#new-task-add{
    font-size: 1rem;
    font-weight: 700px;
    background-color: var(--green);
    border-radius: 15px;
    margin-left: 1rem;
    color: var(--darkest);
    cursor: pointer;
}
main{
    flex: 1 1 0;
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#tasks {
    flex: 1 1 0;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    width: 700px;
    color:var(--white);
    margin-right: 170px;
}
#edit-btn{
    font-size: 1rem;
    font-weight: 700px;
    background-color: orangered;
    border-radius: 15px;
    margin-left: 1rem;
    color: var(--darkest);
    cursor: pointer;
}
#flex{
    font-size: 1rem;
    font-weight: 700px;
    background-color: orangered;
    border-radius: 15px;
    margin-left: 1rem;
    color: var(--darkest);
    cursor: pointer;
}
